<header class="tw-flex tw-flex-col tw-p-4">
  <div class="tw-flex tw-items-center tw-py-2">
    <div class="tw-flex-1 tw-py-2 tw-text-2xl tw-text-white tw-font-semibold">
      Messagoom
    </div>
    <div class="tw-flex tw-flex-1 tw-justify-end tw-space-x-3">
      <button
        class="
          tw-rounded-full tw-bg-gray-600 tw-w-10 tw-h-10
          hover:tw-bg-gray-500
        "
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          aria-hidden="true"
          role="img"
          class="iconify iconify--icons8 m-auto"
          width="20"
          height="20"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 32 32"
        >
          <path
            d="M25 4.03c-.765 0-1.517.3-2.094.876L13 14.78l-.22.22l-.06.313l-.69 3.5l-.31 1.468l1.467-.31l3.5-.69l.313-.06l.22-.22l9.874-9.906A2.968 2.968 0 0 0 25 4.032zm0 1.94c.235 0 .464.12.688.343c.446.446.446.928 0 1.375L16 17.374l-1.72.344l.345-1.72l9.688-9.688c.223-.223.452-.343.687-.343zM4 8v20h20V14.812l-2 2V26H6V10h9.188l2-2H4z"
            fill="#fff"
          ></path>
        </svg>
      </button>
      <button
        class="
          tw-rounded-full tw-bg-gray-600 tw-w-10 tw-h-10
          hover:tw-bg-gray-500
        "
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          aria-hidden="true"
          role="img"
          class="iconify iconify--ion m-auto"
          width="20"
          height="20"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 512 512"
        >
          <path
            d="M255.8 218c-21 0-38 17-38 38s17 38 38 38 38-17 38-38-17-38-38-38z"
            fill="#fff"
          ></path>
          <path
            d="M102 218c-21 0-38 17-38 38s17 38 38 38 38-17 38-38-17-38-38-38z"
            fill="#fff"
          ></path>
          <path
            d="M410 218c-21 0-38 17-38 38s17 38 38 38 38-17 38-38-17-38-38-38z"
            fill="#fff"
          ></path>
        </svg>
      </button>
      <button
        class="
          tw-text-white
          tw-rounded-full
          tw-bg-red-500
          tw-w-10
          tw-h-10
          tw-text-3.25
          hover:tw-bg-red-400
        "
        (click)="handleLogout()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          aria-hidden="true"
          role="img"
          class="iconify iconify--ri m-auto"
          width="20"
          height="20"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 24 24"
        >
          <path
            d="M4 18h2v2h12V4H6v2H4V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3zm2-7h7v2H6v3l-5-4l5-4v3z"
            fill="currentColor"
          ></path>
        </svg>
        <!-- New messages -->
      </button>
    </div>
  </div>
  <div class="tw-relative">
    <input
      class="
        tw-text-gray-300
        tw-rounded-full
        tw-pl-4
        tw-pr-10
        tw-py-2
        tw-flex-1
        tw-w-full
        tw-bg-gray-800
      "
      placeholder="Search"
    />
    <span class="tw-absolute tw-mt-2 tw-mr-4 tw-right-0">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        role="img"
        class="iconify iconify--ri"
        width="20"
        height="20"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 24 24"
      >
        <path
          d="M18.031 16.617l4.283 4.282l-1.415 1.415l-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9s9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617zm-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.868-3.133-7-7-7c-3.868 0-7 3.132-7 7c0 3.867 3.132 7 7 7a6.977 6.977 0 0 0 4.875-1.975l.15-.15z"
          fill="#fff"
        ></path>
      </svg>
    </span>
  </div>
</header>
<div class="tw-flex-1 tw-h-[82vh] tw-overflow-y-scroll">
  <div
    *ngFor="let item of listUserConnect"
    class="
      tw-flex
      tw-py-2
      tw-px-4
      tw-space-x-4
      tw-justify-between
      tw-text-gray-300
      tw-cursor-pointer
      hover:tw-bg-gray-900
    "
  >
    <div class="tw-rounded-full tw-bg-gray-600 tw-w-16 tw-h-16"></div>
    <div class="tw-flex-1 tw-flex-col tw-items-center tw-py-2">
      <div class="tw-flex-1 tw-text-md">{{ item.username }}</div>
      <div class="tw-flex-1 tw-text-xs">
        {{ item.listMessage[item.listMessage.length - 1].content }}
      </div>
    </div>
    <div
      *ngIf="item.status"
      class="tw-m-auto tw-rounded-full tw-bg-green-400 tw-w-2 tw-h-2"
    ></div>
    <div
      *ngIf="!item.status"
      class="tw-m-auto tw-rounded-full tw-bg-gray-700 tw-w-2 tw-h-2"
    ></div>
  </div>
</div>
