::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    background: #242526;
}
::-webkit-scrollbar-thumb {
    background: rgb(221, 221, 221);
    border-radius: 20px;
}
textarea:focus,
input:focus {
    outline: none;
}

.dropdown-menu {
    margin-top: 0.5rem;
    color: #d1d5db;
    background-color: #242526;
    border: 1px solid gray;
}
.dropdown-item {
    @apply tw-text-textMain300 hover:tw-bg-gray-700;
}
