<div
  *ngIf="isShow"
  class="tw-absolute tw-flex tw-inset-0 tw-h-[100vh] tw-items-center tw-animate"
>
  <div
    class="tw-absolute tw-z-10 tw-h-[100vh] tw-w-full tw-bg-gray-900 tw-bg-opacity-90"
  ></div>
  <div
    class="tw-relative tw-z-20 tw-w-1/3 tw-flex-col tw-bg-shark tw-text-center tw-text-textMain300 tw-m-auto tw-rounded-lg tw-animate-bounceIn"
  >
    <div class="tw-flex tw-p-4 tw-border-b tw-border-gray-300 tw-relative">
      <div
        class="tw-flex-1 tw-items-center tw-m-auto tw-text-lg tw-font-medium"
      >
        {{ !!currentRoom ? "Add members" : "New chat" }}
      </div>
      <div
        class="tw-rounded-full tw-p-2 tw-cursor-pointer tw-absolute tw-top-0 tw-right-0 tw-mr-2 tw-mt-2 tw-transition tw-duration-200 hover:tw-bg-gray-600"
        (click)="isShow = false"
      >
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="iconify iconify--mdi tw-m-auto"
            width="20"
            height="20"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
          >
            <path
              d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41z"
              fill="#eeeeee"
            ></path>
          </svg>
        </span>
      </div>
    </div>
    <div class="tw-p-4">
      <div class="tw-flex tw-flex-col tw-items-center tw-m-auto tw-space-y-4">
        <!-- <div class="tw-absolute tw-top-4">
          <span
            class="text-danger tw-mr-1"
            *ngIf="isControlError(ELoginFormField.Username, 'required')"
          >
            Username required
          </span>
          <span
            class="text-danger"
            *ngIf="isControlError(ELoginFormField.Password, 'required')"
          >
            Password required
          </span>
        </div> -->
        <ng-container *ngIf="!currentRoom">
          <span class="tw-text-xs tw-text-gray-500"
            >Room name only applicable when selecting two or more users</span
          >
          <input
            class="tw-rounded-lg tw-w-auto tw-bg-gray-800 sm:tw-w-full tw-relative tw-text-gray-300 tw-border-gray-200"
            type="text"
            placeholder="Room name"
            required="true"
            [(ngModel)]="roomName"
            [disabled]="selectedUsers.length < 2"
          />
        </ng-container>
        <div
          class="tw-w-full tw-p-2 tw-rounded-xl tw-border tw-border-gray-500"
        >
          <div class="tw-relative tw-pb-2">
            <input
              class="tw-text-gray-300 tw-rounded-full tw-pl-4 tw-pr-10 tw-py-2 tw-flex-1 tw-w-full tw-bg-gray-800"
              placeholder="Search"
              [(ngModel)]="searchString"
              (keydown)="keyPressEvent($event)"
            />

            <button
              *ngIf="searchString"
              class="tw-absolute tw-mt-2 tw-mr-12 tw-right-0 tw-cursor-pointer"
              (click)="searchString = ''; loadData()"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="iconify iconify--mdi tw-m-auto"
                width="20"
                height="20"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24"
              >
                <path
                  d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41z"
                  fill="#eeeeee"
                ></path>
              </svg>
            </button>
            <span class="tw-absolute tw-mt-2 tw-mr-4 tw-right-0">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="iconify iconify--ri"
                width="20"
                height="20"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24"
              >
                <path
                  d="M18.031 16.617l4.283 4.282l-1.415 1.415l-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9s9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617zm-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.868-3.133-7-7-7c-3.868 0-7 3.132-7 7c0 3.867 3.132 7 7 7a6.977 6.977 0 0 0 4.875-1.975l.15-.15z"
                  fill="#fff"
                ></path>
              </svg>
            </span>
          </div>
          <div
            *ngIf="!!selectedUsers.length"
            class="tw-flex tw-overflow-auto tw-w-100 tw-px-4 tw-pb-4 tw-pt-2 tw-space-x-2 tw-text-white"
          >
            <div
              *ngFor="let user of selectedUsers"
              class="tw-animate-fadeInTop100 tw-border tw-border-puertoRico-500 tw-flex tw-items-center tw-p-2 tw-space-x-1 tw-rounded-full tw-w-50 tw-whitespace-nowrap"
            >
              <button
                class="tw-cursor-pointer tw-mt-0.5 tw-mr-2"
                (click)="addSelectedUser(user)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  aria-hidden="true"
                  role="img"
                  class="iconify iconify--mdi tw-m-auto"
                  width="18"
                  height="18"
                  preserveAspectRatio="xMidYMid meet"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41z"
                    fill="#eeeeee"
                  ></path>
                </svg>
              </button>
              {{ user.name }}
              <span class="tw-text-gray-100">({{ user.username }})</span>
            </div>
          </div>
          <div *ngIf="!!isLoading" class="tw-p-4 tw-h-[20rem] tw-text-gray-300">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              aria-hidden="true"
              role="img"
              class="iconify iconify--eos-icons tw-m-auto"
              width="20"
              height="20"
              preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8a8 8 0 0 1-8 8z"
                opacity=".5"
                fill="currentColor"
              ></path>
              <path
                d="M20 12h2A10 10 0 0 0 12 2v2a8 8 0 0 1 8 8z"
                fill="currentColor"
              >
                <animateTransform
                  attributeName="transform"
                  type="rotate"
                  from="0 12 12"
                  to="360 12 12"
                  dur="1s"
                  repeatCount="indefinite"
                ></animateTransform>
              </path>
            </svg>
          </div>
          <div
            *ngIf="!isLoading"
            class="tw-flex-col tw-p-4 tw-h-[20rem] tw-items-center tw-overflow-y-auto tw-space-y-2 tw-cursor-pointer"
            (scroll)="onScroll($event)"
          >
            <div
              *ngFor="let user of listUser"
              class="tw-flex tw-p-4 tw-items-center tw-space-x-2 tw-bg-gray-800 tw-rounded-lg"
              (click)="addSelectedUser(user)"
            >
              <div
                class="tw-border tw-border-gray-600 tw-rounded-full tw-h-5 tw-w-5 tw-p-1"
                [ngClass]="
                  userIncludes(user) ? 'tw-bg-puertoRico-500' : 'tw-bg-gray-700'
                "
              >
                <div
                  *ngIf="userIncludes(user)"
                  class="tw-animate-bounceIn tw-bg-gray-100 tw-rounded-full tw-h-full tw-w-full"
                ></div>
              </div>
              <div class="tw-flex tw-flex-1 tw-justify-between tw-items-center">
                <div class="tw-flex tw-flex-1 tw-space-x-2">
                  <span>{{ user.name }}</span>
                  <span class="tw-text-gray-500">({{ user.username }})</span>
                </div>
                <div
                  class="tw-m-auto tw-rounded-full tw-w-2 tw-h-2"
                  [ngClass]="
                    user.sockets?.length ? 'tw-bg-green-400' : 'tw-bg-gray-700'
                  "
                  [tooltip]="getOnlineTimeByUser(user)"
                ></div>
              </div>
            </div>
            <div class="tw-h-6">
              <app-loading
                *ngIf="isLoadmore"
                [isLoading]="true"
                [hasPadding]="true"
              ></app-loading>
            </div>
          </div>
        </div>
        <div class="tw-flex tw-w-full tw-space-x-4">
          <div *ngIf="selectedUsers.length > 4" class="tw-w-1/4">
            <button
              type="submit"
              class="tw-animate-load tw-border tw-border-red-600 tw-duration-500 tw-w-full tw-px-4 tw-py-2 tw-rounded-lg tw-transition tw-text-red-600 hover:tw-bg-red-600 hover:tw-text-white"
              (click)="unselectAll()"
            >
              Unselect all
            </button>
          </div>
          <div class="tw-flex-1">
            <button
              type="submit"
              class="tw-w-full tw-transition tw-duration-500 tw-rounded-lg tw-border tw-text-puertoRico-500 tw-px-4 tw-py-2 hover:tw-text-white"
              [ngClass]="
                selectedUsers.length === 0
                  ? 'tw-border-gray-800 hover:tw-bg-transparent'
                  : 'tw-border-puertoRico-500 hover:tw-bg-puertoRico-500'
              "
              [disabled]="selectedUsers.length === 0"
              (click)="submitCreateRoom()"
            >
              {{ !!currentRoom ? "Update" : "Create" }}
              <span *ngIf="selectedUsers.length > 0">
                ({{ selectedUsers.length }})</span
              >
              <span *ngIf="!!isCreating" class="tw-float-right tw-text-white">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  aria-hidden="true"
                  role="img"
                  class="iconify iconify--eos-icons tw-m-auto"
                  width="20"
                  height="20"
                  preserveAspectRatio="xMidYMid meet"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8a8 8 0 0 1-8 8z"
                    opacity=".5"
                    fill="currentColor"
                  ></path>
                  <path
                    d="M20 12h2A10 10 0 0 0 12 2v2a8 8 0 0 1 8 8z"
                    fill="currentColor"
                  >
                    <animateTransform
                      attributeName="transform"
                      type="rotate"
                      from="0 12 12"
                      to="360 12 12"
                      dur="1s"
                      repeatCount="indefinite"
                    ></animateTransform>
                  </path>
                </svg>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
