<div class="tw-px-4">
  <div>
    <div
      class="
        tw-flex
        tw-bg-gray-800
        tw-justify-between
        tw-items-center
        tw-font-semibold
        tw-px-2
        tw-py-4
        tw-text-base
        tw-text-gray-300
      "
    >
      <div class="tw-flex-1">Users</div>
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          aria-hidden="true"
          role="img"
          class="iconify iconify--ic"
          width="20"
          height="20"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 24 24"
        >
          <path
            d="M8.12 9.29L12 13.17l3.88-3.88a.996.996 0 1 1 1.41 1.41l-4.59 4.59a.996.996 0 0 1-1.41 0L6.7 10.7a.996.996 0 0 1 0-1.41c.39-.38 1.03-.39 1.42 0z"
            fill="currentColor"
          ></path>
        </svg>
      </div>
    </div>
    <div *ngIf="isLoading" class="tw-p-4 tw-text-gray-300">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        role="img"
        class="iconify iconify--eos-icons tw-m-auto"
        width="20"
        height="20"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 24 24"
      >
        <path
          d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8a8 8 0 0 1-8 8z"
          opacity=".5"
          fill="currentColor"
        ></path>
        <path
          d="M20 12h2A10 10 0 0 0 12 2v2a8 8 0 0 1 8 8z"
          fill="currentColor"
        >
          <animateTransform
            attributeName="transform"
            type="rotate"
            from="0 12 12"
            to="360 12 12"
            dur="1s"
            repeatCount="indefinite"
          ></animateTransform>
        </path>
      </svg>
    </div>
    <div *ngIf="!isLoading">
      <div
        *ngFor="let item of userData"
        class="
          tw-flex
          tw-p-2
          tw-space-x-4
          tw-justify-between
          tw-text-gray-300
          tw-cursor-pointer
          tw-duration-200
          tw-transition
          tw-border-gray-800
          hover:tw-bg-gray-900
        "
        [ngClass]="
          item._id === userData[userData.length - 1]._id
            ? 'tw-border-none'
            : 'tw-border-b'
        "
      >
        <div
          class="
            tw-rounded-full tw-bg-gray-600 tw-w-16 tw-h-16 tw-overflow-hidden
          "
        >
          <img class="tw-inline-block" [src]="item.avatar" alt="" />
        </div>
        <div class="tw-flex-1 tw-flex-col tw-items-center tw-py-2">
          <div class="tw-flex tw-flex-1 tw-text-md tw-space-x-2">
            <span>{{ item.name }}</span>
            <span class="tw-text-gray-500">({{ item.username }})</span>
          </div>
          <!-- <div class="tw-flex-1 tw-text-xs tw-text-gray-500">
            {{ item.messageLasted }}
          </div> -->
        </div>
        <div
          *ngIf="item.sockets?.length"
          class="tw-m-auto tw-rounded-full tw-bg-green-400 tw-w-2 tw-h-2"
        ></div>
        <div
          *ngIf="!item.sockets?.length"
          class="tw-m-auto tw-rounded-full tw-bg-gray-700 tw-w-2 tw-h-2"
          [tooltip]="getOnlineTimeByUser(item)"
        ></div>
      </div>
    </div>
  </div>
  <div>
    <div
      class="
        tw-flex
        tw-bg-gray-800
        tw-justify-between
        tw-items-center
        tw-font-semibold
        tw-px-2
        tw-py-4
        tw-text-base
        tw-text-gray-300
      "
    >
      <div class="tw-flex-1">Room</div>
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          aria-hidden="true"
          role="img"
          class="iconify iconify--ic"
          width="20"
          height="20"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 24 24"
        >
          <path
            d="M8.12 9.29L12 13.17l3.88-3.88a.996.996 0 1 1 1.41 1.41l-4.59 4.59a.996.996 0 0 1-1.41 0L6.7 10.7a.996.996 0 0 1 0-1.41c.39-.38 1.03-.39 1.42 0z"
            fill="currentColor"
          ></path>
        </svg>
      </div>
    </div>
    <div *ngIf="isLoading" class="tw-p-4 tw-text-gray-300">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        role="img"
        class="iconify iconify--eos-icons tw-m-auto"
        width="20"
        height="20"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 24 24"
      >
        <path
          d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8a8 8 0 0 1-8 8z"
          opacity=".5"
          fill="currentColor"
        ></path>
        <path
          d="M20 12h2A10 10 0 0 0 12 2v2a8 8 0 0 1 8 8z"
          fill="currentColor"
        >
          <animateTransform
            attributeName="transform"
            type="rotate"
            from="0 12 12"
            to="360 12 12"
            dur="1s"
            repeatCount="indefinite"
          ></animateTransform>
        </path>
      </svg>
    </div>
    <div *ngIf="!isLoading">
      <div
        *ngFor="let item of roomData"
        class="
          tw-flex
          tw-p-2
          tw-space-x-4
          tw-justify-between
          tw-text-gray-300
          tw-cursor-pointer
          tw-duration-200
          tw-transition
          tw-border-b
          tw-border-gray-500
          hover:tw-bg-gray-900
        "
        [ngClass]="
          item.roomDetail._id === roomData[roomData.length - 1].roomDetail._id
            ? 'tw-border-none'
            : 'tw-border-b'
        "
      >
        <div
          class="
            tw-rounded-full tw-bg-gray-600 tw-w-16 tw-h-16 tw-overflow-hidden
          "
        >
          <!-- <img class="tw-inline-block" [src]="item.avatarUrl" alt="" /> -->
        </div>
        <div class="tw-flex-1 tw-flex-col tw-items-center tw-py-2">
          <div
            *ngIf="!!getRoomNameBySearch(item)[0].username"
            class="tw-flex tw-flex-1 tw-text-md tw-space-x-2"
          >
            <span>{{ getRoomNameBySearch(item)[0].name }}</span>
            <span class="tw-text-gray-500"
              >({{ getRoomNameBySearch(item)[0].username }})</span
            >
          </div>
          <div
            *ngIf="!getRoomNameBySearch(item)[0].username"
            class="tw-flex-1 tw-text-md"
          >
            {{ getRoomNameBySearch(item) }}
          </div>
          <div class="tw-flex-1 tw-text-xs tw-text-gray-500">
            {{ item.messageLasted }}
          </div>
        </div>
        <div
          *ngIf="!!getStatusRoom(item)"
          class="tw-m-auto tw-rounded-full tw-bg-green-400 tw-w-2 tw-h-2"
        ></div>
        <div
          *ngIf="!getStatusRoom(item)"
          class="tw-m-auto tw-rounded-full tw-bg-gray-700 tw-w-2 tw-h-2"
          tooltip="Online 4 minutes ago"
        ></div>
      </div>
    </div>
  </div>
</div>
